* {
  margin: 0;
  padding: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.change-btn {
  height: 50px;
  width: 140px;
  font-size: 22px;
  background-color: grey;
  color: white;
  border: 2px solid black;
  border-radius: 25px;
  margin: 20px;
}
#btn-id-countdown {
  display: none;
}
.title {
  font-size: large;
  text-align: center;
  font-family: ROBOTO;
}
.subtitle {
  display: flex;
  justify-content: center;
}
.subtitle-text {
  font-size: 32px;
  margin: 20px;
}
.timer-box {
  display: flex;
}

.same-box {
  height: 100px;
  width: 100px;
  margin: 10px;
  font-size: 70px;
  text-align: center;
  outline: none;
  border: none;
}
.divider {
  height: 100px;
  margin: 1px;
  font-size: 70px;
}
.btn {
  text-align: center;
}
.same-btn {
  height: 60px;
  width: 180px;
  font-size: 40px;
}
#start {
  background-color: green;
  color: white;
}
#reset {
  background-color: red;
  color: white;
}
#continue {
  display: none;
  color: white;
  background-color: yellow;
}
#pause {
  display: none;
  color: white;
  background-color: orangered;
}

@media screen and (max-width: 480px) {
  .container {
    height: 60vh;
    width: 100%;
  }
  .same-box {
    width: 110px;
    margin: 5px;
  }
  .same-btn {
    width: 180px;
  }
}
